<div class="container">
  <h1>Stupid coaching</h1>
  <p id="question"><strong><%= @question %></strong> - You</p>
  <p id="answer"><strong><%= @answer %></strong> - Your coach</p>

  <%= link_to "Ask another question", ask_path %>
</div>
